@import '../../../scss/index.scss';

.menu-top-web {
   position: sticky;
   top: 0;
   background-color: $background-dark-web;
   border: 0;
   display: flex;
   align-items: center;

   .ant-menu-submenu-title {
      display: none;
   }

   li {
      border: 0 !important;

      a {
         color: #fff !important;
         font-weight: bold;

         &:hover {
            color: $primary-color !important;
         }
      }
   }

   &__logo {
      padding: 10px;

      img {
         width: 40px;
         margin-right: 4px;
      }
      &-jeral {
         display: inline;
         color: $font-light;
         font-size: 15px;
      }
   }
}
