@import './scss/index.scss';

.success {
   border: 1px solid $success !important;
   border-radius: 5px;
   background-color: $background-success;
}

.error {
   border: 1px solid $error !important;
   border-radius: 5px;
   background-color: $background-error;
}
