.edit-user-form {
   .upload-avatar {
      display: table;
      margin: 0 auto;
      border: 2px solid #9a9a9a;
      border-style: dashed;
      border-radius: 100px;
      padding: 10px;
      margin-bottom: 20px;

      span {
         -webkit-box-shadow: 0px 0px 17px 1px #222;
         box-shadow: 0px 0px 17px 1px #222;
      }
   }
}
